* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--text-color: #f8f9f2;
    --index: calc(1vw + 1vh);
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

@font-face {
    font-family: Railway_Black;
    src: url('../assets/fonts/raleway-black.woff2');
}

@font-face {
    font-family: Railway_Regular;
    src: url('../assets/fonts/raleway-regular.woff2');
}

body {
    background: #3c3c3c;
    font-family: Railway_Regular, sans-serif;
	line-height: 1.5;
}

.content {
	will-change: transform;
}

.header {
    position: relative;
}

.header::after {
    content: '';
    width: 100%;
    height: calc(var(--index) * 10);
    position: absolute;
    bottom: calc(var(--index) * -4.5);
    z-index: 100;
    background: url('../assets/img/ground.png') center center/cover no-repeat;
}

.layers {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    will-change: transform;
    z-index: 2;
    transition: var(--transition);
}

.layers__text {
    z-index: 1;
    transform: translate3d(0, calc(var(--scroll-top) / 2), 0);
    text-transform: uppercase;
    will-change: transform;
	text-shadow: 0 0 15px #bf9306;
	color: var(--text-color);
    font-family: Railway_Black;
    transition: var(--transition);
}

.layers__inscription {
    font-size: calc(var(--index) / 1.18);
    letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -0.75);
}

.layers__title {
    font-size: calc(var(--index) * 2.5);
    letter-spacing: calc(var(--index) / 2.25);
}

.layers__base {
    background: url('../assets/img/base.png') center center/cover no-repeat;
    transform: translate3d(0, calc(var(--scroll-top) / 1.5), 0);
    z-index: 0;
}
.layers__middle {
    background: url('../assets/img/middle.png') center center/cover no-repeat;
    transform: translate3d(0, calc(var(--scroll-top) / 2.5), 0);
}
.layers__front {
    background: url('../assets/img/front.png') center center/cover no-repeat;
    transform: translate3d(0, calc(var(--scroll-top) / 5.5), 0);
}

.article {
    min-height: 100vh;
    background: url('../assets/img/dungeon.jpg') center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
	color: var(--text-color);
    position: relative;
    --article-transform: translate3d(0, calc(var(--scroll-top) / -7.5), 0);
	text-shadow: 0 0 15px #166a63;
}

.article__title {
    text-transform: uppercase;
    font-size: calc(var(--index) * 1.8);
    letter-spacing: calc(var(--index) / 7);
    transform: var(--article-transform);
    will-change: transform;
    font-family: Railway_Black;
    transition: var(--transition);
}

.article__paragraph {
    max-width: calc(var(--index) * 30);
    font-size: calc(var(--index) * 0.85);
	margin-top: calc(var(--index) / 1.2);
    transform: var(--article-transform);
    will-change: transform;
    transition: var(--transition);
}

.article__copy {
    position: absolute;
    bottom: calc(var(--index) * 2.5);
    opacity: 0.45;
    font-size: calc(var(--index) * 0.7);
    letter-spacing: calc(var(--index) / 25);
    transition: var(--transition);
}

.particles {
    position: absolute;
    inset: 0;
    z-index: 1001;
}